# Backend Management Variables

RAPIDAPI_KEY=""
PINECONE_API_KEY=""
FLASK_ENV=development
MONGO_USER=""
MONGO_PASSWORD=""
PORT=8080
URI=""
SUPABASE_URL=""
OPENAI_API_KEY=""
OPENAI_BASE_URL="https://api.ai.it.ufl.edu"
NAVIGATOR_AI=""
SECRET_KEY=""
GOOGLE_MAPS_API_KEY=""
CONFIDENT_API_KEY=""
GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""
GOOGLE_GMAIL_REDIRECT_URI="http://localhost:8080/api/v1/emailing/google/callback"
GOOGLE_GMAIL_SETTINGS_REDIRECT_URL="http://localhost:3000/settings"
GOOGLE_GMAIL_SCOPES="https://www.googleapis.com/auth/gmail.send https://www.googleapis.com/auth/gmail.modify https://www.googleapis.com/auth/userinfo.email openid"
